@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: 255 255 255;
  --foreground: 31 41 55;
  --card: 255 255 255;
  --card-foreground: 31 41 55;
  --popover: 255 255 255;
  --popover-foreground: 31 41 55;
  --primary: 136 45 161;
  --primary-foreground: 255 255 255;
  --secondary: 241 245 249;
  --secondary-foreground: 24 28 27;
  --muted: 241 245 249;
  --muted-foreground: 107 114 128;
  --accent: 241 245 249;
  --accent-foreground: 24 28 27;
  --destructive: 239 68 68;
  --border: 226 232 240;
  --input: 255 255 255;
  --ring: 148 163 184;
  --chart-1: 136 45 161;
  --chart-2: 229 133 211;
  --chart-3: 6 182 212;
  --chart-4: 139 92 246;
  --chart-5: 236 72 153;
  --sidebar: 255 255 255;
  --sidebar-foreground: 31 41 55;
  --sidebar-primary: 24 28 27;
  --sidebar-primary-foreground: 255 255 255;
  --sidebar-accent: 241 245 249;
  --sidebar-accent-foreground: 24 28 27;
  --sidebar-border: 226 232 240;
  --sidebar-ring: 148 163 184;
  --radius: 0.625rem;
}

.dark {
  --background: 15 23 42;
  --foreground: 241 245 249;
  --card: 30 41 59;
  --card-foreground: 241 245 249;
  --popover: 30 41 59;
  --popover-foreground: 241 245 249;
  --primary: 136 45 161;
  --primary-foreground: 255 255 255;
  --secondary: 54 57 81;
  --secondary-foreground: 241 245 249;
  --muted: 54 57 81;
  --muted-foreground: 148 163 184;
  --accent: 54 57 81;
  --accent-foreground: 241 245 249;
  --destructive: 220 38 38;
  --border: 30 41 59;
  --input: 30 41 59;
  --ring: 30 64 175;
  --chart-3: 6 182 212;
  --chart-4: 139 92 246;
  --chart-5: 236 72 153;
  --sidebar: 30 41 59;
  --sidebar-foreground: 241 245 249;
  --sidebar-primary: 54 57 81;
  --sidebar-primary-foreground: 241 245 249;
  --sidebar-accent: 54 57 81;
  --sidebar-accent-foreground: 241 245 249;
  --sidebar-border: 30 41 59;
  --sidebar-ring: 30 64 175;
}

* {
  border-color: rgb(var(--border));
  outline-color: rgb(var(--ring) / 0.5);
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  min-height: 100vh;
}

.bg-background {
  background: linear-gradient(to bottom right, rgba(136, 45, 161, 0.1), rgba(229, 133, 211, 0.1));
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
